* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  font-family: $font-roboto;
  font-size: 1.8rem;
  color: $color-text-primary;
  background: $color-bg-primary;
  background: $gradient-bg-primary;
}

h1, h2, h2, h4, h5 {
  margin: 0;
  padding: 0;
}