$color-accent-primary: #0f448a;
$color-accent-hover:#4981cb;
$color-text-primary: #080808;
$color-text-hover: #4e4e4e;

$color-bg-primary: #d77a1b;
$gradient-bg-primary: linear-gradient(0deg, rgba(215,122,27,1) 0%, rgba(255,227,130,1) 100%);
$color-bg-accent: #FFF897;

$font-roboto: 'Roboto', sans-serif;