@use '../../scss/variables' as *;

.root {
  display: flex;
  justify-content: center;
}

.input {
  width: 620px;
  padding: 10px 20px;
  border: 1px solid $color-bg-primary;
  border-radius: 12px;
  background-color: $color-bg-accent;

  &:focus {
    outline: 2px solid $color-bg-primary;
  }
}